<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Input</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Input your data below</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <h2>File upload:</h2>
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file", name="uploaded_file" />
            <button type="submit">Upload</button>
        </form>
        
        {% if user_details %}
        <h2>Captured Information</h2>
        <ul>
            <li>First Name: {{user_details.first_name}}</li>
            <li>Surname: {{user_details.surname}}</li>
            <li>Date of Birth: {{user_details.date_of_birth}}</li>
        </ul>  
        {% endif %}
    </main>
	<script src="index.js"></script>
  </body>
</html>