{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Tentpole Human HTML Input</a>
    </div>
</nav>

<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Input your data below</h1>
            <form method="post" class="text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="user_details" class="btn btn-primary">Submit</button>
            </form>
            <h2 class="mt-5 text-center">File upload:</h2>
            <form method="POST" enctype="multipart/form-data" class="text-center">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="file" name="uploaded_file" class="form-control-file">
                </div>
                <button type="submit" name="file_upload" class="btn btn-primary">Upload</button>
            </form>
            
            {% if user_details %}
            <h2 class="mt-5 text-center">Captured Information</h2>
            <ul class="list-unstyled text-center">
                <li>First Name: {{user_details.first_name}}</li>
                <li>Surname: {{user_details.surname}}</li>
                <li>Date of Birth: {{user_details.date_of_birth}}</li>
            </ul>  
            {% endif %}
            {% if line_chart %}
                <div class="mt-3">
                    {{ line_chart | safe }}
                    {{ bar_chart | safe}}
                </div>
            {% endif %}
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


